@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{

html{
    scroll-behavior: smooth;
}

    body{
        
background-color: #131631;
font-family: 'Poppins', sans-serif;

    }
}

@layer components{
    .delay-1s{
        animation-delay: 1s;
        transitrion-delay: 1s;
    }
}